.card-right {
    flex-direction: row-reverse;
    margin-left: 15%;
}

.card-right .text-div {
    align-items: flex-start;
    padding-left: 100px;
}

/*****************************/

.card-left {
    flex-direction: row;
    margin-right: 15%;
}

.card-left .text-div {
    align-items: flex-end;
    padding-right: 100px;
}

/*****************************/

.card {
    position: relative;
    width: 65%;
    display: flex;
    background-color: rgb(226, 226, 226);
    background-size: 5%;
    border-radius: 100px;

    margin-top: 100px;
    overflow: hidden;
    z-index: -2;
}

.img-div {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin: 30px;
}

.img-blur {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 6px 8px 6px rgba(0,0,0,0.2);
    padding: 30px;
    backdrop-filter: blur(3px);
    border-radius: 50px;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
}

.text-div h1 {
  font-family: "NexagonBold";
  letter-spacing: 0.1em;
}

.text-div h3 {
  font-family: "NexagonRegular";
  letter-spacing: 0.1em;
}

@keyframes crossDiv {
    0% {
      left: -80px;
      transform: translateY(0) rotate(0deg);
    }
    25% {
      transform: translateY(calc(var(--wobble) * -1px)) rotate(-4deg);
    }
    50% {
      transform: translateY(calc(var(--wobble) * 1px)) rotate(3deg);
    }
    75% {
      transform: translateY(calc(var(--wobble) * -0.6px)) rotate(-2deg);
    }
    100% {
      left: 120%;
      transform: translateY(0) rotate(0deg);
    }
  }